<div class="animated bounceIn">
	<h2>Forgot Password</h2>
	<p>
		Enter your email address to reset your password.
	</p>
	<div class="row">
		<div class="col-sm-12">
			<form method="POST" action="auth.php">
				<label>Email</label>
				<input name="email" ng-model="email" required class="this" type="email" placeholder="johndoe@gmail.com" />
				<input ng-disabled="!email" class="action" value="Reset Password" type="submit" />
				<input type="hidden" name="doing" value="resetmail" />
			</form>
		</div>
	</div>
</div>